.App {
  text-align: center;
      background-color: #282c34;
      min-height: 100vh;
      color: white;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height:9vh;
  display: flex;
  font-style: italic;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.input-true {
  display: none;
}

.play-text {
  font-size: 200%;
}
button {
  border-radius: 5px;
  background-color: teal;
  color: white;
  max-width: 125px;
  width: 100%;

}

form input {
    background-color: lightgrey;
  border-radius: 5px;
}

.timer {
    font-size: 400%;
    color: white;
}

.timer.true {
  color: red;
}

input  {
  border: none;
}

button:hover {
  cursor: pointer;
}

.show-typing-false {
  display: none;
}

.show-typing-true {
  display: block;
  color: white;
  font-size: 50%;
}

.btn-text-true {
  display: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
